<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper green">
      <div data-target="mobile-menu">
        <a href="#!" class="brand-logo"><img class="meu_logo" src="./assets/resources/maintenance-repair-kit.png"/></a>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
      <div class="brand-logo hide-on-med-and-down">
        <a href="#!"><img class="meu_logo" src="./assets/resources/maintenance-repair-kit.png"/> {{titulo}}</a>
      </div>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav green lighten-2" id="mobile-menu" #mobile>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
</ul>
</div>
