<p>Cadastro de Bicicletas</p>

<table>
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Marca</th>
      <th>Data aquisição</th>
      <th>Valor Aquisição</th>
      <th>Descrição</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>SL 929</td>
      <td>Soul</td>
      <td>07/02/2020</td>
      <td>12900</td>
      <td>Upgrade de suspensão, banco e mesa; Kit tubless;</td>
      <td class="right">
        <a><i class="material-icons my-icon-size">edit</i></a>
      </td>
    </tr>
    <tr>
      <td>Spry Apex</td>
      <td>Soul</td>
      <td>14/04/2020</td>
      <td>8990</td>
      <td></td>
      <td class="right">
        <a><i class="material-icons my-icon-size">edit</i></a>
      </td>
    </tr>
  </tbody>
</table>
