.intro {
  text-align: center;
  padding-top: 13%;
  padding-bottom: 13%;
  background-image: url("/assets/resources/maintenance-advertising.png");
  background-repeat: no-repeat;
}

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
